@font-face {
    font-family: JB;
    src: url(asset/font/NeueMachina-Regular.ttf);
}
body {
    font-family: 'JB';
    margin: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
  }
  h2{
    color:white;
  }
  p{
    color:white;
  }
  
  .forum-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative; /* 添加相对定位 */
  }
  .title{
    color:white;
    font-size: 80px;
    left: -70px;
  }
  
  .rounded-rectangle {
    width: 800px;
    height: 400px;
    margin: 70px;
    padding: 30px;
    background-color: #414141;
    border-radius: 15px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    margin: 80px;
  }
  .return-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #414141;
    border-radius: 15px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
  }
  
  .userinfo {
    align-items: center;
    position: absolute; /* 使用绝对定位 */
    top: -50px;
    right: -80px;
    width: 180px;
    height: 70px;
    margin: 50px;
    background-color: #414141;
    border-radius: 15px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    display: block;
  }
  .userinfo-inner{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  